
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #263041;
}

.right{
    background-color: #2d394d;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe { 
    width: 80%;
    height: 70%;
    border: 2px solid #fffaf8;
}

.egg{
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    margin-top: 10%;
    background-color: #4a768d;
}

.progressbar{
    height: 5vh;
    width: 80%;
    background-color: #2d394d;
    border: 2px solid #fffaf8;
}

.progressed{
    height: 100%;
    width: 30%;
    background-color: #ff7a90;
}
