
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 30fr;
    height: 100vh;
    font-size: 32px;
    color:#4a768d;
    font-weight: bold;
}

/* Style the header */
.header {
grid-column: 1 / 3;
background-color: #7D5C3B; 
box-shadow: 0px 4px 5px rgba(48, 48, 48, 0.6);
color: #fff; 
padding: 5px; 
display: flex; 
align-items: center;
/* border-bottom: 3px solid #6d6d6d; */
position:relative; 
z-index:10;
font-family: 'JelleeBold';
font-style: normal;
}


/* Style the logo */
.logo {
  width: 50px; 
  height: 70px; 
  margin-right: 10px; 
  margin-left: 10px;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    background-color: #9dffb0;
    box-shadow: 10px 10px 10px;
    padding-top: 32px;
}

button:hover{
    cursor: pointer;
    box-shadow: 0px 4px 5px rgba(57, 57, 57, 0.6);
    transform: scale(1.1);
}

.up{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #c5a16e;
    height: 65vh;
    overflow: auto;
    font-family: 'JelleeBold';
    font-weight: lighter;
    font-style: normal;
}

.down{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #7D5C3B;
    height: 35vh;
    padding: 16px;
    gap: 16px;
    font-family: 'JelleeBold';
    font-weight: lighter;
    font-style: normal;
}

.right{
    background-color: #6ec47f;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

iframe { 
    width: 80%;
    height: 80%;
    border: 2px solid #7D5C3B;
    border-radius: 16px;
    box-shadow: 0px 15px 15px 5px #4b975a;
    
}


.egg{
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    margin-top: 10%;
    background-color: #f9f3b7;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px 5px #6ec47f;
    transition: transform 0.1s;
    margin-bottom: 2%;
    
}

.egg:hover {
    cursor: pointer;
    filter: brightness(85%)
    
}

.egg:active {
  transform: scale(.95);
  box-shadow: 0px 5px 10px 2px #6ec47f;;
}

.progressbar{
    height: 5vh;
    width: 80%;
    background-color: #2d394d;
    border: 2px solid #fffaf8;
    border-radius: 16px;
}

#increase { 
    padding: 16px;
    border: 2px solid #81f1f7;
    border-radius: 20%;;
}

.Julie {
    text-decoration: underline;
    margin-bottom: 15vh;
}

#progressed{
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 70%;
    background-color: #8ec4f7;
    border-radius: 14px;
    padding-right: 8px;
    font-size: 20px;
    font-weight: bold;
    color:#fffaf8;
    text-decoration: none;

}
  
#progressed:before {
content: "";
position: absolute;
top: 0;
left: -300%;
width: 300%;
height: 100%;
background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #eff0f0 50%, rgba(255, 255, 255, 0) 100%);
animation: shimmer 2s ease-in-out infinite;
background-clip: content-box;
}

.add {
    padding: 12px 8px;
    border-radius: 12px;
    background-color: #9dffb0;
    background-color: #c5a16e;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #7D5C3B;
    transform: scale(1);
  transition: transform 0.2s;
}

#buttons {
    display: flex;
    gap: 16px;
}


.whitetext{
    color: #fffaf8;
}

  @keyframes shimmer {
    from {
      transform: translateX(-25%);
    }
    to {
      transform: translateX(200%);
    }
  }

  #calculated{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  body{
    margin: 0;
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    background-color: #c5a16e;
  }

  .top{
    display: flex;
    justify-content: space-between;
    background-color: #7D5C3B;
    padding: 10px 24px;
    font-size: 24px;
    color: #fffaf8;
    font-weight: bold;
    text-align: center;
  }

  .shortterm, .longterm{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: left;
    padding: 0px 32px;
    color: #fffaf8;
    font-size: 20px;
  }
  .shortterm  p:hover {
    cursor: pointer;
  }
  .title{
    grid-column: 1 / 3;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 8px 10px;
    border-bottom:3px solid #7D5C3B;
  }
  .time{
    margin-left: auto;
  }

  label {
    color: #fffaf8;
  }

  th {
    background-color: #7D5C3B;
    border: 0;
  }

  .tip{
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    height: 8vh;
    width: 65vh;
    background-color: white;
    /* background-image: linear-gradient(to right, #2d394d, #98FB98 400px, #2d394d 800px);
  background-size: 800px 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat; */
    border: 2px solid black;
    border-radius: 16px;
    font-size: 0.75rem;
    color: black;
}

  #carousel {
    display: flex;
  }

  .tipmark{
    align-items: left;
    margin-top: 22px;
    height: 6vh;
    width: 6vh;
    padding-right: 10px;
}
  
input {
    background-color: #c5a16e;
    border: 1px solid white;
    color: rgb(0, 0, 0);
}

.curriculum{
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-rows: 1fr 30fr;
    height: 100vh;
    font-size: 20px;
    color:#4a768d;
    font-weight: bold;
}

.rightbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c5a16e;
    height: 100vh;
    overflow: auto;
    font-family: 'JelleeBold';
    font-weight: lighter;
    font-style: normal;
    color: #fffaf8;
    padding: 32px;
    text-align: center;
}

.rightbox p {
    margin-bottom: 0;
    font-size: 18px;
}

.weekinc{
    display: none;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 32px;
}

.inc {
    height:80%;
    width: 20vw;
    background-color: #7D5C3B;
    color: white;
    border-color: white;
    border-left: none;
}
.dolladolla{
    display: flex;
}
.monay{
    height: 80%;
    width: 5vw;
    background-color: #7D5C3B;
    border: 1px solid white;
    border-right: none;
    text-align: center;
}

input:focus {
    outline: none;
}

button:focus{
    outline: none;
    border: 0;
}

h1 {
    border-bottom: 3px solid #7D5C3B;
}

#next {
    background-color: #7D5C3B;
    border-radius: 32px;
    border-color: white;
    color: white;
    padding: 8px;
    margin-top: 0px;
}

.up p{
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 24px;
}

.less{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column  ;
    align-items: center;
    color: white;
}


.invis, #invis {
    display: none;
}

.ghost {
  position: absolute;
  bottom: 0%;
  left: -2.5%;
  animation-play-state: paused;
}

.ghost {
  position: absolute;
  bottom: 0%;
  left: -2.5%;
  animation-play-state: paused;
}



#hmmm {
    background-color: #c5a16e;
    border-radius: 32px;
    border-color: white;
    color: white;
    padding: 8px;
    margin-top: 0px;
}